.contenedor{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px auto 0px auto;
    padding-bottom: 90px;
}
@media only screen and (max-width: 768px){
    .contenedor{
        width: 95%;
        grid-template-columns: 1fr;
    }
}
h1{
    color: var(--moradoTenue);
    font-weight: bold;
    font-size: 35px;    
}
h2{
    font-weight: bold;
    margin-top: 40px;
}
h6{
    font-weight: bolder;
    margin-top: 40px;
}


.contenedorImagenes{
text-align: center;
}
.contenedorImagenes img{
    background-color: var(--blancoFondo);
    width:85%;
    margin: 0 auto;
    box-shadow: gray 0 0 10px;
}
.imagenes{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 50px;
}
@media only screen and (max-width:768px){
    .imagenes{
        grid-template-columns: 1fr 1fr;

    }
}
.imagenes img{
    width: 100%;
}
table{
    align-items: center;
}
th{
    color: var(--moradoTenue);
}
td{
    font-weight: bold;
}
table td input{
    background-color:white;
    width: 70px;
    height:20px ;
    border-radius: 20px;
  
}
.btnCompra{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}
.btnCompra button{
    color: white;
    background-color: var(--moradoTenue);
    font-weight: bold;
    border-radius: 20px;
    font-size: 20px;
    width: 90%;
}
.btnCompra button:last-child{
    margin-top: 10px;
}
.btnCompra p{
    margin: 0;
}
.btnCompra p i{
    font-size: 35px;
    color: var(--moradoTenue);
}
.btnIconos{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.btnIconos i{
font-size: 35px;
}
.contenedorSecundario{
display: grid;
grid-template-columns: 2fr 1fr;
}
@media only screen and (max-width:768px){
    .contenedorSecundario{
        grid-template-columns: 1fr;
      
    }
}