.menuImagenes{
    width: 80%;
    margin: 0 auto;
    text-align: center;
   }
   .menuImagenes a img{
       width: 48%;
       margin: 10px 5px 0 5px;
   }
   .menuImagenes a:last-of-type img{
       width: 98%;
   }