h1{

    width: 100%;
    height:80px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.iconoEliminar{
    color: red;
}
.iconoModificar{
    color: green;
}
.fondo{
    background: var(--moradoFooter);
}
table{
    margin-bottom: 200px;
}
