.contenedor {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 2rem auto 0 auto;
    /* padding-bottom: 90px; */
    text-transform: capitalize;
    padding-bottom: 50px;
}

@media only screen and (max-width: 1300px) {
    .contenedor {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .contenedor {
        width: 100%;
    }
}
.miniContenedor {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.sombra {
    box-shadow: var(--moradoTenue) 0 0 15px;
    border-radius: 7px;
    padding: .5rem;
}

.informe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
}

.contenedor button {
    /* background-color: var(--moradoTenue); */
    height: 2.5rem;
    width: 100%;
    /* border: none; */
    border-radius: 7px;
    color: var(--moradoTenue);
}
.contenedor button:hover{
    background-color: var(--moradoTenue);
    color: white;
    border: none;
    transition: .8s;
}

input {
    width: 100%;
}

form {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 1fr;
}
form div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}
.centrar {
    text-align: center;
}

.informe.titulos {
    font-weight: bold;
    padding: 0;
}

.informe span {
    display: inline-block;
    width: 15%;
    /* background-color: turquoise; */
}

.informe span.pequeño {
    width: 10%;
    /* background-color: tomato; */
}

@media only screen and (max-width: 768px) {
    .d-noneP {
        display: none !important;
    }
}

.scroll {
    height: 50vh;
    overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
    .scroll {
        height: 40vh;
    }
}

@media only screen and (max-width: 420px) {
    .contenedor{
        margin-top: .7rem;
    }
}
@media only screen and (max-width: 360px) {
    .scroll {
        height: 28vh;
    }
    .contenedor{
        margin-top: .7rem;
    }
}