h1 {
    text-align: center;
    color: #7c4a84;
    font-weight: 700;
    font-size: 60px;
    margin-top: 20px;

}

@media only screen and (max-width:768px) {
    h1 {
        font-size: 2em;
        margin-top: 20px;

    }
}

h2 {
    color: #7c4a84;
    font-size: 25px;
    font-weight: 600;
}

h3 {
    margin-left: 20px;
    font-weight: 700;
    font-size: 35px;
    margin-top: 25px;
}

h4 {
    font-weight: bold;
    margin-left: 20px;
    text-decoration: line-through;
    color: rgba(128, 128, 128, 0.59);
}

main {
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 100px;
}

@media only screen and (max-width:768px) {
    main {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        padding-bottom: 200px;
        gap: 15px;
    }
}

.producto {
    width: 23%;
    min-height: 50vh;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.322);
    padding: 40px 10px 40px 10px;
    margin: 20px auto;
    position: relative;
}
.subContenedorProducto {
    position: relative;
    margin: 20px auto;
    text-decoration: none;
    color: black;  
    width: 100%;
    height: 100%;  
}
.subContenedorProducto:hover{
    color: black;
}

@media only screen and (max-width:768px) {
    .producto {
        width: 90%;
        margin: 0 auto;
    }
}

.subContenedorProducto img {
    width: 150px;
    position: absolute;
    top: 90px;
    left: 120px;
}

@media only screen and (max-width:768px) {
    .producto img {
        right: -19px;
    }
}
.mas{
    position: absolute;
    bottom: 10px;
    width: 80px;
    height: 35px;
    background-color: var(--moradoTenue);
    text-decoration: none!important;
    color: white;
    font-size: .8rem;
    border-radius: 10px;
    text-align: center;
    
}
.mas p{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mas:hover{
    color: white;
}

.producto a i{
    color: purple;
    font-size: 1.2rem;
    
}
.btn-mas {
    text-decoration: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: var(--moradoTenue);
    position: absolute;
    top: 50vh;
    right: 20px;
}

.btn-mas p{
    color: white;
    font-size: 30px;
    text-align: center;
}