.contenedor{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin: 2rem auto 0 auto;
    /* padding-bottom: 90px; */
    text-transform: capitalize;
}
.botones{
    padding-bottom: 90px;
    margin-top: 1rem;
}
@media only screen and (max-width: 768px){
    .contenedor{
        width: 95%;
        margin: 1rem auto 0 auto;
        display: block;
        /* padding-bottom: 170px; */
    }
    .botones{
        padding-bottom: 180px;
    }
}
.sombra{
    border-radius: 7px;
    box-shadow: rgb(124, 83, 124) 0 0 10px;
}
.busqueda{
    padding: 1rem;
    width: 100%;
}
input{
    width: 100%;
    border: solid 1px var(--morado);
    border-radius: 7px;
    height: 2rem;
    text-align: center;
}
@media only screen and (max-width: 768px){
    form div{
        display: flex;
        justify-content: space-around;
    }
    .segundoInput{
        margin-top: .5rem;
    }
    label{
        width: 19%;
    }
    input{
        width: 78%;
    }
}
.busqueda input::placeholder{
    text-align: center;
}
#volver{
    display: none;
}
.busqueda button{
    margin-top: .5rem;
    width: 100%;
    height: 2rem;
    border: none;
    background-color: var(--moradoTenue);
    border-radius: 7px;
    color: white;
}
.btnPresupuesto{
    width: 95%;
    margin: 0 auto;
    height: 2rem;
    border: none;
    background-color: var(--moradoTenue);
    border-radius: 7px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 768px){
    .btnPresupuesto{
        width: 80%;
    }
}
.btnPresupuesto:hover, .busqueda button:hover{
    color: white;
    background-color: rgb(92, 42, 92);
}
.busqueda ul.productos{
    list-style: none;
    margin: 0;
    padding: 0;
    height: calc(100vh - 550px);
    overflow-y: scroll;
}

.busqueda ul.productos::-webkit-scrollbar {
    -webkit-appearance: none;
}

.busqueda ul.productos::-webkit-scrollbar:vertical {
    width:1px;
}

.busqueda ul.productos::-webkit-scrollbar-button,
.busqueda ul.productos::-webkit-scrollbar-button {
    display: none;
} 

.busqueda ul.productos::-webkit-scrollbar:horizontal {
    height: 1px;
}

.busqueda ul.productos::-webkit-scrollbar-thumb {
    background-color: var(--moradoTenue);
}

.busqueda ul.productos::-webkit-scrollbar-track {
    border-radius: 1px;  
}
.busqueda ul.encabezado{
    list-style: none;
    margin: 0;
    margin-top: .5rem;
    height: 2rem;
    background-color: var(--moradoTenue);
    padding: .3rem;
    border-radius: 7px;
}
.busqueda ul.encabezado{
    background-color: var(--moradoTenue);
    color: rgb(255, 255, 255);
}
.busqueda ul.productos li{
    border-bottom: solid 1px var(--moradoTenue);
}
.busqueda ul.productos li a{
    text-decoration: none;
    color: var(--morado);
    width: 100%;
    display: block;
}
a span,p.titulo span{
    height: 1.5rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: Ellipsis;
}
p.titulo span{
    text-align: center;
}
a span:nth-child(1),p.titulo span:nth-child(1){
    width: 50%;
}
a span:nth-child(2),p.titulo span:nth-child(2){
    width: 20%;
}
a span:nth-child(3),p.titulo span:nth-child(3){
    width: 13%;
    text-align: center;
}
a span:nth-child(4),p.titulo span:nth-child(4){
    width: 13%;
    text-align: center;
}
@media only screen and (max-width: 768px){

    a span:nth-child(1),p.titulo span:nth-child(1){
        width: 53%;
    }
    a span:nth-child(2),p.titulo span:nth-child(2){
        width: 23%;
    }
    a span:nth-child(3),p.titulo span:nth-child(3){
        width: 10%;
    }
    a span:nth-child(4),p.titulo span:nth-child(4){
        width: 9%;
    }
}
.nota{
    width: 100%;
    padding: 1rem;
}
@media only screen and (max-width: 768px){
    .nota{
        margin-top: 1rem;
    }
}
.nota .header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    border-bottom: solid 1px var(--moradoTenue);
}
.nota .header img{
    width: 120px;
}
.nota .header p{
    margin: 0;
    text-align: end;
}
.folio{
    color: brown;
    font-weight: bold;
}
.nota .productosPre{
    padding: 1rem;
    font-size: .9rem;
}
.nota .productosPreChi{
    display: none;
}
@media only screen and (max-width: 768px){
    .nota .productosPre{
        display: none;
    }
    .nota .productosPreChi{
        display: block;
    }
}
.row{
    align-items: center;
}
.sombra-bottom{
    margin-bottom: 10px;
    font-weight: bold;
}
.col-1{
    padding: 0;
}
.nota .col-5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: Ellipsis;
}
.rowTotal .total{
    font-weight: bold;
}

.masmenos a i,.masmenos a{
    color: var(--moradoTenue);
    font: .5rem!important;
}
.masmenos a i:hover,.masmenos a:hover{
    color: var(--morado);
    font: .5rem!important;
}
.gato{
    background-color: none;
}